POSTGRES_USER=gabinete
POSTGRES_PASSWORD=gabinete_local
POSTGRES_DB=gabinete_plus
POSTGRES_PORT=5432
DATABASE_URL=postgresql://gabinete:gabinete_local@localhost:5432/gabinete_plus?schema=public
API_PORT=3333
EXPO_PUBLIC_API_URL=http://192.168.0.10:3333
